<%- include('../partials/header'); %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% if(stories.length){%> <% stories.forEach((story) => { %>
      <div class="row mb-1">
        <div class="col-md-4">
          <% if(story.media.length > 0){ %> <% if(story.media[0].type
          ==='photo') {%>
          <img
            src="<%= story.media[0].media %>"
            class="thumb"
            alt="<%= story.title %>"
          />
          <%}else {%>
          <video
            class="thumb rightcolvideo"
            id="stories-video"
            controls
            autoplay
            muted
            src="<%= story.media[0].media %>"
          ></video>

          <%} %> <% } %>
        </div>
        <div class="col-md-8">
          <a href="/story/<%= story.id %>?<%=story.title.replace(/ /g,'-');%>">
            <%= story.title %></a
          >

          <p><%= story.description %></p>
        </div>
      </div>
      <% });%> <%}else {%>

      <div class="row mb-1"><h1>No story!, check again later.</h1></div>
      <%}%>
    </div>
  </div>
</div>

<%- include('../partials/footer');%>
