<%- include('../partials/header'); %>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <% if (contents.length > 0 ){ %>
      <div class="row">
        <div class="col-md-7">
          <% if(contents[0].media.length > 0){%> <% if(contents[0].media[0].type
          ==='photo'){%>
          <img
            class="img-fluid"
            src="<%=contents[0].media[0].media %>"
            alt="<%=contents[0].title;%>"
          />
          <%}else{ %>
          <video
            class="thumb rightcolvideo"
            id="video-pan1-1"
            controls
            src="<%=contents[0].media[0].media %>"
            type="application/x-mpegURL"
          ></video>

          <% } %> <% } %>
          <h5>
            <a
              href="/story/<%= contents[0]._id %>?<%=contents[0].title.replace(/ /g,'-');%>"
              ><%=contents[0].title;%></a
            >
          </h5>
        </div>
        <div class="col-md-5">
          <div class="row">
            <% rightCol1.forEach((right1, index)=>{%>
            <div class="col-md-6 mb-1">
              <% if(right1.media[0].type ==='photo'){%>
              <img class="thumb" src="<%=right1.media[0].media %>" />
              <%}else{ %>
              <video
                class="thumb rightcolvideo"
                id="video-panone-<%=index%>"
                controls
                src="<%=right1.media[0].media %>"
              ></video>
              <% } %>
            </div>
            <div class="col-md-6">
              <a
                href="/story/<%= right1._id %>?<%=right1.title.replace(/ /g,'-');%>"
                ><%=right1.title; %></a
              >
            </div>

            <% }); %>
            <span
              ><a href="/stories/<%=category_id%>/<%=categories[0].name%>"
                >See full coverage</a
              ></span
            >
          </div>
        </div>
      </div>
      <% }; %>
    </div>
    <div class="col-sm-3 vl">
      <h5 class="line">MUST READ</h5>
      <% if(business){%> <% business.forEach((bus)=>{%>
      <div class="col-md-3" style="margin-top: 0px; width: 94%">
        <a href="/story/<%= bus._id %>?<%=bus.title.replace(/ /g,'-');%>"
          ><%=bus.title%></a
        >
        <hr />
      </div>
      <%})%> <% }%>
    </div>
  </div>
  <div class="row">
    <h3><a href="/stories/<%=pan1catid%>/<%=pan1title%>"><%=pan1title%></a></h3>
  </div>
  <div class="row">
    <% pan1.forEach((item, index)=>{%>
    <div class="col-md-2">
      <%if(item.media[0]){%> <% if (item.media[0].type ==='photo'){ %>
      <img class="thumb" src="<%= item.media[0].media%>" /><span>
        <a href="/story/<%= item._id %>?<%=item.title.replace(/ /g,'-');%>"
          ><%= item.title%></a
        ></span
      >

      <%}else{%>
      <video
        class="thumb rightcolvideo"
        id="pan1-<%=index %>"
        controls
        src="<%=item.media[0].media %>"
      ></video>
      <span
        ><a href="/story/<%= item._id %>?<%=item.title.replace(/ /g,'-');%>"
          ><%= item.title%></a
        ></span
      >

      <% }%> <%}else{%>
      <span>
        <a href="/story/<%= item._id %>?<%=item.title.replace(/ /g,'-');%>"
          ><%= item.title%></a
        ></span
      >
      <%}%>
    </div>
    <%})%>
  </div>

  <div class="row">
    <h3><a href="/stories/<%=pan2catid%>/<%=pan2title%>"><%=pan2title%></a></h3>
  </div>
  <div class="row">
    <% pan2.forEach((item, index)=>{%>
    <div class="col-md-2">
      <% if(item.media[0]){%> <% if (item.media[0].type ==='photo'){ %>
      <img class="thumb" src="<%= item.media[0].media%>" /><span
        ><a href="/story/<%= item._id %>?<%=item.title.replace(/ /g,'-');%>"
          ><%= item.title%></a
        ></span
      >
      <%}else{%>

      <video
        class="thumb rightcolvideo"
        id="pan2-<%=index %>"
        controls
        src="<%=item.media[0].media %>"
      ></video>
      <span
        ><a href="/story/<%= item._id %>?<%=item.title.replace(/ /g,'-');%>"
          ><%= item.title%></a
        ></span
      >

      <% }%> <% }else{ %>
      <span
        ><a href="/story/<%= item._id %>?<%=item.title.replace(/ /g,'-');%>"
          ><%= item.title%></a
        ></span
      >
      <%}%>
    </div>
    <%})%>
  </div>
  <!-- </div> -->
  <!-- </div> -->
</div>

<%- include('../partials/footer');%>
