<%- include('../partials/header'); %>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <% if (contents.length > 0 ){ %>
      <div class="row">
        <div class="col-md-7">
          <% if(contents[0].media.length > 0){%> <% if(contents[0].media[0].type
          ==='photo'){%>
          <img
            class="img-fluid thumb"
            src="<%=contents[0].media[0].media %>"
            alt="<%=contents[0].title;%>"
          />
          <%}else{ %>
          <video
            class="thumb rightcolvideo"
            id="video-pan1-1"
            controls
            src="<%=contents[0].media[0].media %>"
            type="application/x-mpegURL"
          ></video>

          <% } %> <% } %>
          <h5>
            <a
              href="/story/<%= contents[0]._id %>?<%=contents[0].title.replace(/ /g,'-');%>"
              ><%=contents[0].title;%></a
            >
          </h5>
        </div>
        <div class="col-md-5">
          <div class="row">
            <% rightCol1.forEach((right1, index)=>{%>
            <div class="col-md-6 mb-1">
              <% if(right1.media[0].type ==='photo'){%>
              <img class="thumb" src="<%=right1.media[0].media %>" />
              <%}else{ %>
              <video
                class="thumb rightcolvideo"
                id="video-panone-<%=index%>"
                controls
                src="<%=right1.media[0].media %>"
              ></video>
              <% } %>
            </div>
            <div class="col-md-6">
              <h6><a
                href="/story/<%= right1._id %>?<%=right1.title.replace(/ /g,'-');%>"
                ><%=right1.title; %></a></h6>
            </div>

            <% }); %>
            <span
              class="line"><a href="/stories/<%=category_id%>/<%=categories[0].name%>"
                >See full coverage</a
              ></span
            >
          </div>
        </div>
      </div>
      <% }; %>
    </div>
    <div class="col-sm-3 vl">
      <h5 class="line">MUST READ</h5>
      <% if(business){%> <% business.forEach((bus)=>{%>
      <div class="col-md-3" style="margin-top: 0px; width: 94%">
        <a href="/story/<%= bus._id %>?<%=bus.title.replace(/ /g,'-');%>"
          ><%=bus.title%></a
        >
        <hr />
      </div>
      <%})%> <% }%>
    </div>
  </div>
  <div class="row heroRow">
    <h3 class="head-line"><a href="#">Weather</a></h3>
    <div class="weatherHero" id="weatherHero"></div>
  </div>
    <div class="row">
      <div class="weatherContainer" id="weatherPan"></div>
    </div>
    <div class="row">
    <div id="panWeekday"></div>  
    </div>
  <div class="row">
    <h3 class="head-line"><a href="/stories/<%=pan1catid%>/<%=pan1title%>"><%=pan1title%></a></h3>
  </div>
  <div class="row">
    <% pan1.forEach((item, index)=>{%>
    <div class="col-md-2">
      <%if(item.media[0]){%> <% if (item.media[0].type ==='photo'){ %>
      <img class="thumb" src="<%= item.media[0].media%>" /><span>
       <h6> <a href="/story/<%= item._id %>?<%=item.title.replace(/ /g,'-');%>"
          ><%= item.title%></a></h6></span>

      <%}else{%>
      <video
        class="thumb rightcolvideo"
        id="pan1-<%=index %>"
        controls
        src="<%=item.media[0].media %>"
      ></video>
      <span
        ><h6><a href="/story/<%= item._id %>?<%=item.title.replace(/ /g,'-');%>"
          ><%= item.title%></a></h6></span>

      <% }%> <%}else{%>
      <span>
        <h6><a href="/story/<%= item._id %>?<%=item.title.replace(/ /g,'-');%>"
          ><%= item.title%></a
        ></h6></span
      >
      <%}%>
    </div>
    <%})%>
  </div>

  <div class="row">
    <h3 class="head-line"><a href="/stories/<%=pan2catid%>/<%=pan2title%>"><%=pan2title%></a></h3>
  </div>
  <div class="row">
    <% pan2.forEach((item, index)=>{%>
    <div class="col-md-2">
      <% if(item.media[0]){%> <% if (item.media[0].type ==='photo'){ %>
      <img class="thumb" src="<%= item.media[0].media%>" /><span
        ><h6><a href="/story/<%= item._id %>?<%=item.title.replace(/ /g,'-');%>"
          ><%= item.title%></a
        ></h6></span
      >
      <%}else{%>

      <video
        class="thumb rightcolvideo"
        id="pan2-<%=index %>"
        controls
        src="<%=item.media[0].media %>"
      ></video>
      <span
        ><h6><a href="/story/<%= item._id %>?<%=item.title.replace(/ /g,'-');%>"
          ><%= item.title%></a
        ></h6></span
      >

      <% }%> <% }else{ %>
      <span><h6><a href="/story/<%= item._id %>?<%=item.title.replace(/ /g,'-');%>"
          ><%= item.title%></a></h6></span>
      <%}%>
    </div>
    <%})%>
  </div>
  <!-- </div> -->
  <!-- </div> -->

  <!-- Sports bof -->

  <% if(topPan){ %>
    <div class="row">
    <h3 class="col-md-12 head-line p-2"><a href="/stories/5095/Sports">Sports</a></h3>
  </div>
  <div class="row">
    <div class="col-md-6">
      <!-- first story -->
    
      
      
      <% if( firststory[0].media[0] && firststory[0].media[0].type ==='photo') {%>
        <img
          src="<%=firststory[0].media[0].media %>"
          class="thumb"
          width="100%;"
          alt="<%= firststory[0].media[0].caption %>"
        />
        <%}else if( firststory[0].media[0] && firststory[0].media[0].type ==='video'){%>
        <video
          class="thumb rightcolvideo"
          id="category-top<%=firststory[0].id %>"
          controls
          src="<%=firststory[0].media[0].media %>"
        ></video>
        <% } %>
       <br/>
       <h6><a href="/story/<%= firststory[0]._id %>?<%=firststory[0].title.replace(/ /g,'-');%>"> <%=firststory[0].title %></a></h6>
      </div>
      
      
     

      <div class="col-md-6">
        <% topPan.forEach((topstory,
      index)=>{%>
        <div class="row">
          <div class="col-md-8">
            <!-- title  -->
          <h6> <a href="/story/<%= topstory._id %>?<%=topstory.title.replace(/ /g,'-');%>"> <%=topstory.title %></a></h6>
          
          </div>
          <div class="col-md-4">
            <!-- picture  -->
            <%if(topstory.media[0] && topstory.media[0].type ==='photo'){%>

            <img
              src="<%=topstory.media[0].media %>"
              class="thumb"
              width="100%;"
              alt="<%=topstory.media[0].caption %>"
            />
            
            <%}else if(topstory.media[0] && topstory.media[0].type ==='video'){%>
              <video
                class="thumb rightcolvideo"
                id="category-top<%=topstory.id %>"
                controls
                src="<%=topstory.media[0].media %>"
              ></video>

              <% } %>
          </div>
          <hr/>
        </div>
        <% }) %>
      </div>
      
    </div>
    <%}%>
    <div class="row">
      <div class="col-md-12">
        <% if(stories.length){ %> <% stories.forEach((story) => { %>
        <div class="row mb-1">
          <div class="col-md-3">
            <% if(story.media.length > 0){ %> <% if(story.media[0].type
            ==='photo') {%>
            <img
              src="<%= story.media[0].media %>"
              class="thumb"
              alt="<%= story.title %>"
            />
            <%}else if(story.media[0].type
            ==='video'){%>
            <video
              class="thumb rightcolvideo"
              id="stories-video"
              controls
              src="<%= story.media[0].media %>"
            ></video>

            <%} %> <% } %>
          </div>
          <div class="col-md-9">
            
          <h6><a href="/story/<%= story._id %>?<%=story.title.replace(/ /g,'-');%>"><%= story.title %></a></h6>
            <% if(story.description.length > 50){%>
            <p class="fw-light"><%= story.description %></p>
            <%}else{%>
              <p class="fw-light"><%= story.content.substring(0, 400).replace(/<[^>]*>/g, '') %>...</p>
            <%} %>
          </div>
        </div>
        <% });%> <%}else {%>

        <div class="row mb-1"><h1>No story!, check again later.</h1></div>
        <%}%>
      </div>
    </div>
  </div>

  <!-- Sports eof -->
</div>

<%- include('../partials/footer');%>
