<%- include('../partials/header'); %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col">
          <div class="">
            <% if(story.media.length > 0){ %>
            <div id="imgcontainer">
              <% if(story.media.length >1){ %> <% story.media.forEach((img,
              index) => { %>

              <!-- Slideshow container -->

              <div class="imgrow">
                <div class="imgcolumn">
                  <% if(img.type ==='photo') {%>
                  <img
                    src="<%= img.media %>"
                    class="responsive"
                    width="100%;"
                    alt="<%= img.caption %>"
                    onclick="myFunction(this);"
                  />
                  <%}else{%>
                  <video
                    class="thumb rightcolvideo"
                    id="story-<%=index %>"
                    controls
                    autoplay
                    muted
                    src="<%= img.media %>"
                  ></video>
                  <%}%>
                </div>
              </div>

              <% } ) %> <% }else{ %>
              <img
                src="<%= story.media[0].media %>"
                class="responsive"
                alt="<%= story.media[0].caption %>"
                width="100%;"
              />
              <% } %>
            </div>
            <% } %>
            <!-- The expanding image container -->
            <div class="container">
              <!-- Close the image -->
              <span
                onclick="this.parentElement.style.display='none'"
                class="closebtn"
                >&times;</span
              >

              <!-- Expanded image -->
              <img id="expandedImg" style="width: 100%" />

              <!-- Image text -->
              <div id="imgtext"></div>
            </div>
          </div>
          <div>
            <div class="social-share">
              <a
                href="https://www.facebook.com/sharer/sharer.php?u=https://news.pinga.us/story/<%= story._id; %>?<%= story.title; %>"
                target="_blank"
                class="facebook"
              >
                <i class="fab fa-facebook-f"></i>
              </a>
              <a
                href="https://x.com/intent/tweet?url=https://news.pinga.us/story/<%= story._id; %>?<%= story.title; %>"
                target="_blank"
                class="twitter"
              >
                <i class="fab fa-twitter"></i>
              </a>
              <a
                href="https://www.linkedin.com/shareArticle?url=https://news.pinga.us/story/<%= story._id; %>?<%= story.title; %>"
                target="_blank"
                class="linkedin"
              >
                <i class="fab fa-linkedin-in"></i>
              </a>
              <a
                href="https://api.whatsapp.com/send?text=Check%20this%20out%20https://news.pinga.us/story/<%= story._id; %>?<%= story.title; %>"
                target="_blank"
                class="whatsapp"
              >
                <i class="fab fa-whatsapp"></i>
              </a>
            </div>

            <h1><%= story.title; %></h1>
            <p>
              <em>Posted: <%=story.pub_date.toLocaleString('en-US'); %></em>
            </p>
          </div>

          <p><%- story.content; %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer');%>
